body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #FFFFFF;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.32px;
}

button {
    cursor: pointer;
}

h1, h2, h3, h4, h5, h6, p {
    margin-top: 0;
    margin-bottom: 0;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.list {
    list-style-type: none;
}

.link {
    text-decoration: none;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%); 
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.page-header {
    border-bottom: 1px solid #E7E9FC;
}

.container {
    max-width: 1158px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

.container-header {
    display: flex;
    justify-content: space-between;
}

.page-navigation {
    margin-right: auto;
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
    column-gap: 40px;
    list-style-type: none;
}

.menu .menu-item {
    box-sizing: border-box;
}

.list {
    display: flex;
    gap: 40px;
}

.logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    display: flex;
    margin-right: 76px;
}

.text-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.menu-link {
    display: block;
    color: #2E2F42;
    font-weight: 500;
    padding-top: 24px;
    padding-bottom: 24px;
}

.menu-link:hover,
.menu-link:focus {
    color: #404BBF;
}

.contacts {
    display: flex;
    margin-left: auto;
    color: #434455;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;;
}

.link-contact {
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #434455;
}

.link-contact:hover,
.link-contact:focus {
    color: #404BBF;
}

.service {
    background-color: #2E2F42;
    padding-top: 188px;
    padding-bottom: 188px;
}

.solution {
    color: #FFF;
    font-size: 56px;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.07;
    text-align: center;
    max-width: 496px;
    margin-left: auto;
    margin-right: auto;
}

.button {
    cursor: pointer;
    background: #4D5AE5;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    line-height: 1.5;
    color: #FFF;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 16px 32px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-top: 48px;
    min-width: 169px;
    height: 56px;
    border: none;
}

.button:hover,
.button:focus {
    background: #404BBF;
    color: #FFF;
}

.benefits {
    padding-top: 120px;
    padding-bottom: 120px;
}

.benefits-item {
    width: calc((100% - 72px)/4);
}

.list-benefits {
    list-style-type: none;
    display: flex;
    justify-content: center;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    gap: 24px;
}

.benefit {
    color: #2E2F42;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em;
    line-height: 1.2;
    margin-bottom: 8px;
}

.benefit-info {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.our-team {
    background: #F4F4FD;
    padding-top: 120px;
    padding-bottom: 120px;
}

.team {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 72px;
}

.list-team {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    gap: 24px;
}

.menu-item {
    background-color: #FFFFFF;
}

.menu-item-team {
    background-color: #FFFFFF;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    width: calc((100% - 3 * 24px)/4);
}

.team-container-text {
    padding-top: 32px;
    padding-bottom: 32px;
    background: #FFF;
}

.member-one {
    background: url(<path-to-image>), lightgray -97.034px -0.927px / 181.897% 251.37% no-repeat;
}

.member-two {
    background: url(<path-to-image>), lightgray -335.01px -22.055px / 256.162% 173.614% no-repeat;
}

.member-three {
    background: url(<path-to-image>), lightgray -128.784px -0.151px / 197.563% 133.752% no-repeat;
}

.member-four {
    background: url(<path-to-image>), lightgray -200px -7.128px / 251.515% 170.277% no-repeat;
}

.member {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 8px;
}

.post {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    text-align: center;
}

.portfolio {
    background: #FFF;
    background-color: #FFFFFF;
    padding-top: 120px;
    padding-bottom: 120px;
}

.topic {
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2E2F42;
    text-align: center;
    margin-bottom: 72px;
}

.portfolios {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-item {
    width: calc((100% - 48px) / 3);
}

.container-portfolio {
    padding: 32px 16px;
    border: 1px solid #E7E9FC;
    border-top: none;

}

.theme {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.topic-service {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.topic-one {
    background: url(<path-to-image>), lightgray -25.026px 0px / 125% 100% no-repeat;
}

.topic-two {
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.topic-three {
    background: url(<path-to-image>), lightgray -1px 0px / 101.111% 100% no-repeat;
}

.topic-four {
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.topic-five {
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.topic-six {
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
}

.fin {
    background-color: #2E2F42;
    padding-top: 100px;
    padding-bottom: 100px;
}

.logo-link-footer {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 16px;
}

.fin-logo {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    justify-content: center;
    color: #F4F4FD;
}

.fin-text {
    color: #F4F4FD;
    letter-spacing: 0.02em;
    display: flex;
    width: 264px;
}
